.App {
  text-align: center;
  display: flex;
  flex-direction: column; /* Organiza o conteúdo de cima para baixo */
  align-items: center;
  justify-content: flex-start; /* Garante que o conteúdo no topo fique alinhado */
  height: 100vh;
  padding-top: 20px; /* Espaçamento no topo para o título */
  background-color: #f5f5f5; /* Cor de fundo */
}

.title {
  display: flex;
  align-items: center; /* Alinha o texto e a bandeira */
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.flag {
  width: 30px; /* Tamanho da bandeira */
  height: auto;
  margin-right: 8px; /* Pequeno espaço entre a bandeira e o texto */
}

.chat-recorder {
  width: 100%;
  max-width: 600px; /* Limita a largura do chat */
  flex: 1; /* Ocupa o espaço restante da tela */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-window {
  flex: 1;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  background-color: white;
  margin-bottom: 10px;
  max-height: 70%;
}

.chat-input-wrapper {
  width: 100%;
  max-width: 600px;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.chat-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #333;
  color: white;
  outline: none;
}

.chat-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-controls {
  display: flex;
  gap: 10px;
}

.record-button,
.stop-button,
.send-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-button {
  background-color: #34a853;
}

.stop-button {
  background-color: #ea4335;
}

.send-button {
  background-color: #1a73e8;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .chat-controls {
    flex-direction: column;
    align-items: stretch;
  }

  .audio-controls {
    justify-content: center;
    margin-bottom: 10px;
  }

  .record-button,
  .stop-button,
  .send-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
